<div class="footer">
    <div class="footer-inner">
        <!-- #section:basics/footer -->
        <div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">TER</span>
							Application &copy; 2015
						</span>

            &nbsp; &nbsp;
						<span class="action-buttons">
							<a href="#">
                                <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                            </a>

							<a href="#">
                                <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                            </a>

							<a href="#">
                                <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                            </a>
						</span>
        </div>

        <!-- /section:basics/footer -->
    </div>
</div>

<!-- basic scripts -->
<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script src='/admin/javascripts/jquery.min.js'>"+"<"+"/script>");
</script>
<!-- <![endif]-->
<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='/admin/javascripts/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='/admin/javascripts/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="/admin/javascripts/bootstrap.min.js"></script>
<!-- page specific plugin scripts -->
<!--[if lte IE 8]>
<script src="/admin/javascripts/excanvas.min.js"></script>
<![endif]-->
<script src="/admin/javascripts/jquery-ui.custom.min.js"></script>
<script src="/admin/javascripts/jquery.ui.touch-punch.min.js"></script>
<script src="/admin/javascripts/jquery.easypiechart.min.js"></script>
<script src="/admin/javascripts/jquery.sparkline.min.js"></script>
<script src="/admin/javascripts/flot/jquery.flot.min.js"></script>
<script src="/admin/javascripts/flot/jquery.flot.pie.min.js"></script>
<script src="/admin/javascripts/flot/jquery.flot.resize.min.js"></script>
<!-- ace scripts -->
<script src="/admin/javascripts/ace/elements.scroller.js"></script>
<script src="/admin/javascripts/ace/elements.colorpicker.js"></script>
<script src="/admin/javascripts/ace/elements.fileinput.js"></script>
<script src="/admin/javascripts/ace/elements.typeahead.js"></script>
<script src="/admin/javascripts/ace/elements.wysiwyg.js"></script>
<script src="/admin/javascripts/ace/elements.spinner.js"></script>
<script src="/admin/javascripts/ace/elements.treeview.js"></script>
<script src="/admin/javascripts/ace/elements.wizard.js"></script>
<script src="/admin/javascripts/ace/elements.aside.js"></script>
<script src="/admin/javascripts/ace/ace.js"></script>
<script src="/admin/javascripts/ace/ace.ajax-content.js"></script>
<script src="/admin/javascripts/ace/ace.touch-drag.js"></script>
<script src="/admin/javascripts/ace/ace.sidebar.js"></script>
<script src="/admin/javascripts/ace/ace.sidebar-scroll-1.js"></script>
<script src="/admin/javascripts/ace/ace.submenu-hover.js"></script>
<script src="/admin/javascripts/ace/ace.widget-box.js"></script>
<script src="/admin/javascripts/ace/ace.settings.js"></script>
<script src="/admin/javascripts/ace/ace.settings-rtl.js"></script>
<script src="/admin/javascripts/ace/ace.settings-skin.js"></script>
<script src="/admin/javascripts/ace/ace.widget-on-reload.js"></script>
<script src="/admin/javascripts/ace/ace.searchbox-autocomplete.js"></script>